Repository pixelass/react-package-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn dlx markdown-toc -i, yarn dlx sort-package-json

chore: adjust template (#3)
  .eslintrc.json
  .github/workflows/Code_Quality.yml
  .github/workflows/Run_Tests.yml
  .gitignore
  .lintstagedrc.json
  jest.config.mjs
  package.json
  rollup.config.mjs
  src/__specs__/add.spec.ts
  src/__tests__/counter.test.tsx
  src/__tests__/use-counter.test.ts
  src/add.ts
  src/counter.tsx
  src/index.ts
  src/use-counter.ts
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, yarn dlx sort-package-json

chore: better support for nested exports
  react-package-template/LICENSE
  react-package-template/README.md
  react-package-template/package.json
  rollup.config.mjs
  src/counter.test.tsx
  src/counter.tsx
  src/hooks/index.ts
  src/hooks/use-counter.test.ts
  src/hooks/use-counter.ts
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn dlx markdown-toc -i, yarn dlx sort-package-json

chore: better support for nested exports (#4)
  react-package-template/LICENSE
  react-package-template/README.md
  react-package-template/package.json
  rollup.config.mjs
  src/counter.test.tsx
  src/counter.tsx
  src/hooks/index.ts
  src/hooks/use-counter.test.ts
  src/hooks/use-counter.ts
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, yarn dlx markdown-toc -i, yarn dlx sort-package-json

chore: remove dirt
  react-package-template/LICENSE
  react-package-template/README.md
  react-package-template/package.json
Due: prettier --write, yarn dlx markdown-toc -i, yarn dlx sort-package-json

chore: add coverage
  .github/workflows/Run_Tests.yml
  jest.config.mjs
Due: none

chore: add coverage (#5)
  .github/workflows/Run_Tests.yml
  jest.config.mjs
Due: none

chore: run tests on main
  .github/workflows/Run_Tests.yml
Due: none

chore: run tests on main (#6)
  .github/workflows/Run_Tests.yml
Due: none

chore: remove standard-version
  package.json
Due: prettier --write, yarn dlx sort-package-json

docs: adjust README.md
  README.md
Due: prettier --write, yarn dlx markdown-toc -i

chore: remove standard-version (#7)
  package.json
Due: prettier --write, yarn dlx sort-package-json

docs: adjust README.md (#8)
  README.md
Due: prettier --write, yarn dlx markdown-toc -i

docs: adjust README.md (#9)
  README.md
Due: prettier --write, yarn dlx markdown-toc -i

style: more spacing in tests
  src/hooks/use-counter.test.ts
Due: eslint --fix, prettier --write

style: more spacing in tests (#10)
  src/hooks/use-counter.test.ts
Due: eslint --fix, prettier --write

chore: adjust files list
  package.json
Due: prettier --write, yarn dlx sort-package-json

chore: upgrade node
  .nvmrc
Due: none

chore: add automatic release
  .github/workflows/Code_Quality.yml
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  package.json
Due: prettier --write, yarn dlx sort-package-json

chore: add automatic release (#11)
  .github/workflows/Code_Quality.yml
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
  package.json
Due: prettier --write, yarn dlx sort-package-json

chore: adjust automatic release
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
Due: none

chore: adjust automatic release (#12)
  .github/workflows/Prerelease.yml
  .github/workflows/Release.yml
Due: none

chore: remove automatic release
  .github/workflows/Release.yml
Due: none

chore: adjust build and export update dependencies to latest
  .eslintrc.json
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  package.json
  rollup.config.mjs
  yarn.lock
Due: prettier --write, yarn dlx markdown-toc -i, yarn dlx sort-package-json

chore: adjust build and export (#13)
  .eslintrc.json
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  package.json
  rollup.config.mjs
  yarn.lock
Due: prettier --write, yarn dlx markdown-toc -i, yarn dlx sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: ./*.json)) or (any of: *.md)
  yarn dlx markdown-toc -i: any of: *.md
  yarn dlx sort-package-json: any of: package.json
